<ion-view view-title="Tarif">
  <ion-content>
    <h1> {{detay.adi}} </h>
    <div class="list card">
      <div class="item item-avatar">
        <img src="{{detay.logo}}">
        <h2>{{detay.adi}}</h2>
        <p>{{detay.kategori}}</p>
      </div>
      <div class="item item-body" style="border-radius: 5px;">
        <img class="full-image" src="{{detay.logo}}">
        <p style="font-family: sans-serif;">
          {{detay.tarif}}
        </p>  
      </div>
    </div>
  </ion-content>
</ion-view>
